<div class="container">
<div class="headline">
<img src="compass-logo.png" class="logo" width="128" height="128" alt="">
<div id="about">
<h1>МЕТАПАРСЕР</h1>
<p>Добро пожаловать в библиотеку интерактивной литературы! Здесь представлены
игры с текстовым вводом в минималистичном формате. Ничего лишнего &mdash; только текст и ваше воображение!
Каждую игру вы можете запустить в браузере прямо с сайта.</p>
<p class="small"><i>Если вам нужны инструкции, наберите в игре "помощь". Для сохранения игры, наберите "сохранить". Для загрузки &mdash; "загрузить". Чтобы начать заново, введите "заново".</i></p>
</div>
</div>
<hr>
<div class="cards">
$cards
</div>
</div>
