<div class="headline">
<img src="compass-logo.png" class="logo" width="128" height="128" alt="">
<div id="about">
<h1>МЕТАПАРСЕР</h1>
<p>Добро пожаловать в библиотеку интерактивной литературы! Здесь представлены
игры с текстовым вводом в минималистичном формате. Ничего лишнего &mdash; только текст и ваше воображение!
Каждую игру вы можете запустить в браузере прямо с сайта.</p>
<p>Для большего удобства воспользуйтесь приложением <a href="https://github.com/instead-hub/reinstead/blob/master/README.md">RE:INSTEAD</a>.<br><a href="https://github.com/instead-hub/reinstead/releases">Скачать</a> для Linux/Windows, <a href="https://play.google.com/store/apps/details?id=ru.hugeping.reinstead">Android</a> или <a href="https://github.com/instead-hub/reinstead">собрать</a> самому.</p>
<p class="small"><i>Если вам нужны инструкции, наберите в игре "помощь". Для сохранения игры, наберите "сохранить". Для загрузки &mdash; "загрузить". Чтобы начать заново, введите "заново".</i></p>
</div>
</div>
<hr>
<div class="cards">
$cards
</div>
<hr>
<div id="feedback">
<h2>Контакты и поддержка</h2>
<p>Привет! Меня зовут Пётр и я занимаюсь движком <a href="https://instead-hub.github.io">INSTEAD</a> с 2009 года.<br>
<br>Настоящая интерактивная литература в виде игр с текстовым вводом &mdash; сегодня почти забытый жанр.<br>
Если вы заинтересованы в существовании проекта, вы можете рассказать о нём друзьям, сделать пожертвование или написать отзыв.<br>
<br>Ваша поддержка помогает двигаться вперёд!</p>
<p><b><a href="https://yoomoney.ru/to/41001612955830">ЮMoney</a></b></p>
<p>Со мной можно связаться по почте <a href="mailto:gl00my@mail.ru">gl00my[at]mail.ru</a></p>
</div>
<p class="footer">Собрано генератором <a href="https://github.com/instead-hub/reinstead">extra/www</a>, игры запускаются через metaparser-js.</p>
