<div class="headline">
<img src="compass-logo.png" class="logo" width="128" height="128" alt="">

<div id="about">
<h1><b>RE:INSTEAD &mdash; интерактивная литература</b></h1>
<p>Добро пожаловать на страничку ПАРСЕРНОГО СОПРОТИВЛЕНИЯ! Здесь представлены
игры с текстовым вводом в минималистичном формате. Ничего лишнего &mdash; только текст и ваше воображение!
Каждую игру вы можете запустить в браузере прямо с сайта.</p>
</div>
</div>

<p>Для дальнейшего погружения вы можете посетить страницу проекта <a href="https://github.com/instead-hub/reinstead">RE:INSTEAD</a>.</p>
<p class="small"><i>Если вам нужны инструкции, наберите в игре "помощь". Для сохранения состояния игры, наберите "сохранить".
Для загрузки сохранённого состояния &mdash; "загрузить". Вы можете скачивать и загружать файлы сохранения. Для этого используйте
"сохранить [имя]" и "загрузить [имя]". Чтобы начать заново, введите "заново".</i></p>
<hr>
<div class="cards">
$cards
</div>
<hr>
<div id="feedback">
<h2>Контакты и поддержка</h2>
<p>Привет! Меня зовут Пётр <a href="https://hugeping.ru">(hugeping)</a> и это один из моих проектов с открытым исходным кодом.<br>
<br>Настоящая интерактивная литература в виде игр с текстовым вводом &mdash; сегодня почти забытый жанр.<br>
Если вам понравился проект, вы можете рассказать о нём друзьям, сделать пожертвование или прислать мне письмо.<br>
<br>Любая ваша поддержка помогает ПАРСЕРНОМУ СОПРОТИВЛЕНИЮ выжить!</p>
<p><b><a href="https://yoomoney.ru/to/41001612955830">ЮMoney</a></b></p>
<p>Со мной можно связаться по почте <a href="mailto:peter@hugeping.ru">peter[at]hugeping.ru</a></p>
</div>
<p class="footer">Собрано генератором в составе проекта <a href="https://github.com/instead-hub/reinstead">RE:INSTEAD</a>, игры запускаются через metaparser-js.</p>
